.about-us-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 5rem;
}

.about-us-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-content h3 {
    font-size: 1.2rem;
}

.about-us-content p {
    color: #c0c0c0;
    margin-top: 1rem;
}

.key-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.key-content h2 {
    font-size: 39px;
}

.user-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.user-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7rem;
}

.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.user-card img {
    width: 10rem;
}

.user-card h4 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.user-card p {
    margin-top: 5px;
    color: #c0c0c0;
}
